.showtimes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  padding: 1rem;
  width: 50%;
  box-sizing: border-box;
}

.showtime-card {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  background-color: #c40c0c;
  transition: transform 0.2s;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.showtime-card:hover {
  transform: translateY(-10px);
}